.player {
  min-height: 22vh;

  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.time-control {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    cursor: pointer;
    outline: none;

    width: 100%;
    background: transparent;

    -webkit-appearance: none;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 15px;
      height: 15px;
    }
  }

  .track {
    width: 100%;
    height: 1rem;
    border-radius: 1rem;

    position: relative;
    overflow: hidden;

    box-shadow: 2px 2px 5px gray;

    .animate-track {
      background: rgb(190, 190, 190);

      width: 100%;
      height: 100%;

      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  p {
    padding: 0 1.8rem;
  }
}

.play-control {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;

  svg {
    cursor: pointer;
    color: rgb(15, 15, 15);
  }
}

@media screen and (max-width: 1024px) {
  .time-control {
    width: 80%;

    p {
      font-size: 1.5rem;
    }

    .track,
    input {
      height: 1.5rem;
    }
  }

  .play-control {
    width: 60%;

    svg {
      font-size: 3rem;
      color: rgb(15, 15, 15);
    }
  }
}

@media screen and (max-width: 1024px) {
  .time-control {
    width: 100%;
  }

  .play-control {
    width: 75%;
  }
}

@media screen and (max-width: 500px) {
  .time-control {
    width: 100%;

    p {
      font-size: 1rem;
      padding: 0 1rem;
    }

    .track,
    input {
      height: 1rem;
    }
  }

  .play-control {
    width: 100%;

    svg {
      font-size: 2.4rem;
    }
  }
}
